
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body {
    background-color: #b7e2eb;
}

#game-board {
    border-radius: 160px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
  
    margin: 5px;
}

.game-border-1 {
    width: min-content;
    border: rgb(255, 255, 255) solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px rgb(255, 255, 255);
}

.game-border-2 {
    border: rgb(152, 135, 123)  solid  8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px  rgb(90, 79, 71)
}
.game-border-3 {
    
    border: rgb(171, 206, 162)  solid  30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px rgb(91, 116, 84);
}

#instruction-text {
    position: absolute;
    top: 45%;
    color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
    font-family: "Poiret One", sans-serif;
}

#logo {
    position: absolute;
    top: 35%;
    color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
    font-family: "Major Mono Display", monospace;
    font-size: 50px;
}


.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: white;
}

#highScore {
    color: rgb(255, 255, 255);
    display: block;
}

#score, #highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
    font-family: "Major Mono Display", monospace;
      
}

.game-border-3 {
    background-color: rgb(155, 138, 126)
}

.snake {
    background-color: rgb(99, 238, 97);
    border: rgb(99, 238, 97) 2px solid;
}

.food {
    background-color: #a6cdd4;
    border: rgb(255, 255, 255) 10px none;
}
.logo{
    width: 30%;
}
